.label_input{
margin-top:0.3rem;
margin-bottom:.5rem;
font-family:'Poppins', sans-serif;
font-weight:700;
color:#333;
font-size:18px;
}

.shine-button {
  position: relative;
  overflow: hidden;
  background-color: #f25939; /* Or your desired button color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shine-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transform: skewX(-20deg);
  transition: none;
}

.shine-button:hover::after {
  animation: shine-effect 1s ease-in-out;
}

@keyframes shine-effect {
  100% {
    left: 200%;
  }
}

/* Disabled state */
.shine-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.shine-button:disabled::after {
  animation: none;
}

.fade-text{
  color:#747474;
}
.min40{
min-height:40px;
}
.sup{
color:red;
}

.hover-effect {
    background-color:#f25939;
    color: white;
  }
  
  .hover-effect:hover {
    background-color: black;
    color: white;
  }

*, ::backdrop, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #3b82f680;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
  }
  
  .tw-contain {
    object-fit: contain;
  }
  
  .tw-absolute {
    position: absolute !important;
  }
  
  .tw-relative {
    position: relative !important;
  }
  
  .tw-sticky {
    position: sticky !important;
  }
  
  .-tw-bottom-0 {
    bottom: 0 !important;
  }
  
  .-tw-left-12 {
    left: -4.8rem !important;
  }
  
  .tw-bottom-0 {
    bottom: 0 !important;
  }
  
  .tw-left-0 {
    left: 0 !important;
  }
  
  .tw-left-1\/2 {
    left: 50% !important;
  }
  
  .tw-left-6 {
    left: 2.4rem !important;
  }
  
  .tw-right-0 {
    right: 0 !important;
  }
  
  .tw-top-0 {
    top: 0 !important;
  }
  
  .tw-top-1\/2 {
    top: 50% !important;
  }
  
  .tw-z-10 {
    z-index: 10 !important;
  }
  
  .tw-z-\[2\] {
    z-index: 2 !important;
  }
  
  .tw-col-span-1 {
    grid-column: span 1 / span 1 !important;
  }
  
  .tw-col-span-2 {
    grid-column: span 2 / span 2 !important;
  }
  
  .tw-col-start-3 {
    grid-column-start: 3 !important;
  }
  
  .tw-m-0 {
    margin: 0 !important;
  }
  
  .tw-mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
  .tw-mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  .tw-ml-3 {
    margin-left: 1.2rem !important;
  }
  
  .tw-mr-3 {
    margin-right: 1.2rem !important;
  }
  
  .tw-my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  
  .tw-my-2 {
    margin-top: 0.8rem !important;
    margin-bottom: 0.8rem !important;
  }
  
  .tw-my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  
  .tw-mb-1 {
    margin-bottom: 0.4rem !important;
  }
  
  .tw-mb-1\.5 {
    margin-bottom: 0.6rem !important;
  }
  
  .tw-mb-10 {
    margin-bottom: 4rem !important;
  }
  
  .tw-mb-16 {
    margin-bottom: 6.4rem !important;
  }
  
  .tw-mb-20 {
    margin-bottom: 8rem !important;
  }
  
  .tw-mb-3 {
    margin-bottom: 1.2rem !important;
  }
  
  .tw-mb-4 {
    margin-bottom: 1.6rem !important;
  }
  
  .tw-mb-5 {
    margin-bottom: 2rem !important;
  }
  
  .tw-mb-7 {
    margin-bottom: 2.8rem !important;
  }
  
  .tw-mb-8 {
    margin-bottom: 3.2rem !important;
  }
  
  .tw-ml-auto {
    margin-left: auto !important;
  }
  
  .tw-mt-0 {
    margin-top: 0 !important;
  }
  
  .tw-mt-1 {
    margin-top: 0.4rem !important;
  }
  
  .tw-mt-16 {
    margin-top: 6.4rem !important;
  }
  
  .tw-mt-2 {
    margin-top: 0.8rem !important;
  }
  
  .tw-mt-3 {
    margin-top: 1.2rem !important;
  }
  
  .tw-mt-4 {
    margin-top: 1.6rem !important;
  }
  
  .tw-mt-6 {
    margin-top: 2.4rem !important;
  }
  
  .tw-block {
    display: block !important;
  }
  
  .tw-inline-block {
    display: inline-block !important;
  }
  
  .tw-flex {
    display: flex !important;
  }
  
  .tw-grid {
    display: grid !important;
  }
  
  .tw-hidden {
    display: none !important;
  }
  
  .tw-aspect-square {
    aspect-ratio: 1 / 1 !important;
  }
  
  .tw-h-10 {
    height: 4rem !important;
  }
  
  .tw-h-20 {
    height: 8rem !important;
  }
  
  .tw-h-24 {
    height: 9.6rem !important;
  }
  
  .tw-h-auto {
    height: auto !important;
  }
  
  .tw-h-fit {
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  
  .tw-h-full {
    height: 100% !important;
  }
  
  .tw-max-h-20 {
    max-height: 8rem !important;
  }
  
  .tw-max-h-5 {
    max-height: 2rem !important;
  }
  
  .tw-max-h-\[375px\] {
    max-height: 375px !important;
  }
  
  .tw-max-h-\[560px\] {
    max-height: 560px !important;
  }
  
  .tw-max-h-\[680px\] {
    max-height: 680px !important;
  }
  
  .tw-min-h-0 {
    min-height: 0 !important;
  }
  
  .tw-min-h-5 {
    min-height: 2rem !important;
  }
  
  .tw-min-h-9 {
    min-height: 3.6rem !important;
  }
  
  .tw-min-h-\[80vh\] {
    min-height: 80vh !important;
  }
  
  .tw-w-0 {
    width: 0 !important;
  }
  
  .tw-w-1\/2 {
    width: 50% !important;
  }
  
  .tw-w-10 {
    width: 4rem !important;
  }
  
  .tw-w-2\/5 {
    width: 40% !important;
  }
  
  .tw-w-20 {
    width: 8rem !important;
  }
  
  .tw-w-24 {
    width: 9.6rem !important;
  }
  
  .tw-w-3 {
    width: 1.2rem !important;
  }
  
  .tw-w-3\/5 {
    width: 60% !important;
  }
  
  .tw-w-32 {
    width: 12.8rem !important;
  }
  
  .tw-w-6 {
    width: 2.4rem !important;
  }
  
  .tw-w-9 {
    width: 3.6rem !important;
  }
  
  .tw-w-\[485px\] {
    width: 485px !important;
  }
  
  .tw-w-\[6\%\] {
    width: 6% !important;
  }
  
  .tw-w-fit {
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  
  .tw-w-full {
    width: 100% !important;
  }
  .tw-w-330 {
    max-width: 330px !important;
  }
  
  .tw-min-w-24 {
    min-width: 9.6rem !important;
  }
  
  .tw-min-w-40 {
    min-width: 16rem !important;
  }
  
  .tw-min-w-5 {
    min-width: 2rem !important;
  }
  
  .tw-min-w-6 {
    min-width: 2.4rem !important;
  }
  
  .tw-min-w-full {
    min-width: 100% !important;
  }
  
  .tw-max-w-20 {
    max-width: 8rem !important;
  }
  
  .tw-max-w-24 {
    max-width: 9.6rem !important;
  }
  
  .tw-max-w-2xl {
    max-width: 42rem !important;
  }
  
  .tw-max-w-40 {
    max-width: 16rem !important;
  }
  
  .tw-max-w-44 {
    max-width: 17.6rem !important;
  }
  
  .tw-max-w-5 {
    max-width: 2rem !important;
  }
  
  .tw-max-w-5xl {
    max-width: 64rem !important;
  }
  
  .tw-max-w-7xl {
    max-width: 80rem !important;
  }
  
  .tw-max-w-96 {
    max-width: 38.4rem !important;
  }
  
  .tw-max-w-\[680px\] {
    max-width: 680px !important;
  }
  
  .tw-max-w-\[850px\] {
    max-width: 850px !important;
  }
  
  .tw-max-w-\[950px\] {
    max-width: 950px !important;
  }
  
  .tw-max-w-\[990px\] {
    max-width: 990px !important;
  }
  
  .tw-max-w-fit {
    max-width: -moz-fit-content !important;
    max-width: fit-content !important;
  }
  
  .tw-shrink-0 {
    flex-shrink: 0 !important;
  }
  
  .-tw-translate-x-1\/2 {
    --tw-translate-x: -50% !important;
  }
  
  .-tw-translate-x-1\/2,
  .-tw-translate-x-1\/3 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
  }
  
  .-tw-translate-x-1\/3 {
    --tw-translate-x: -33.333333% !important;
  }
  
  .-tw-translate-y-1\/2 {
    --tw-translate-y: -50% !important;
  }
  
  .-tw-translate-y-1\/2,
  .tw-translate-y-\[40\%\] {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
  }
  
  .tw-translate-y-\[40\%\] {
    --tw-translate-y: 40% !important;
  }
  
  .tw-rotate-180 {
    --tw-rotate: 180deg !important;
  }
  
  .tw-rotate-180,
  .tw-scale-105 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
  }
  
  .tw-scale-105 {
    --tw-scale-x: 1.05 !important;
    --tw-scale-y: 1.05 !important;
  }
  
  .tw-cursor-pointer {
    cursor: pointer !important;
  }
  
  .tw-auto-rows-fr {
    grid-auto-rows: minmax(0, 1fr) !important;
  }
  
  .tw-grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
  
  .tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
  
  .tw-grid-cols-3c {
    grid-template-columns: 1fr 2fr 1fr !important;
  }
  
  .tw-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
  
  .tw-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }
  
  .tw-grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
  }
  
  .tw-grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
  }
  
  .tw-grid-rows-\[0fr\] {
    grid-template-rows: 0fr !important;
  }
  
  .tw-grid-rows-\[1fr\] {
    grid-template-rows: 1fr !important;
  }
  
  .tw-flex-row {
    flex-direction: row !important;
  }
  
  .tw-flex-col {
    flex-direction: column !important;
  }
  
  .tw-flex-wrap {
    flex-wrap: wrap !important;
  }
  
  .tw-flex-nowrap {
    flex-wrap: nowrap !important;
  }
  
  .tw-items-start {
    align-items: flex-start !important;
  }
  
  .tw-items-center {
    align-items: center !important;
  }
  
  .tw-justify-start {
    justify-content: flex-start !important;
  }
  
  .tw-justify-center {
    justify-content: center !important;
  }
  
  .tw-justify-between {
    justify-content: space-between !important;
  }
  
  .tw-justify-evenly {
    justify-content: space-evenly !important;
  }
  
  .tw-gap-1 {
    gap: 0.4rem !important;
  }
  
  .tw-gap-1\.5 {
    gap: 0.6rem !important;
  }
  
  .tw-gap-10 {
    gap: 4rem !important;
  }
  
  .tw-gap-12 {
    gap: 4.8rem !important;
  }
  
  .tw-gap-14 {
    gap: 5.6rem !important;
  }
  
  .tw-gap-16 {
    gap: 6.4rem !important;
  }
  
  .tw-gap-2 {
    gap: 0.8rem !important;
  }
  
  .tw-gap-2\.5 {
    gap: 1rem !important;
  }
  
  .tw-gap-20 {
    gap: 8rem !important;
  }
  
  .tw-gap-24 {
    gap: 9.6rem !important;
  }
  
  .tw-gap-3 {
    gap: 1.2rem !important;
  }
  
  .tw-gap-3\.5 {
    gap: 1.4rem !important;
  }
  
  .tw-gap-4 {
    gap: 1.6rem !important;
  }
  
  .tw-gap-5 {
    gap: 2rem !important;
  }
  
  .tw-gap-6 {
    gap: 2.4rem !important;
  }
  
  .tw-gap-7 {
    gap: 2.8rem !important;
  }
  
  .tw-gap-8 {
    gap: 3.2rem !important;
  }
  
  .tw-gap-9 {
    gap: 3.6rem !important;
  }
  
  .tw-gap-x-10 {
    -moz-column-gap: 4rem !important;
    column-gap: 4rem !important;
  }
  
  .tw-gap-x-20 {
    -moz-column-gap: 8rem !important;
    column-gap: 8rem !important;
  }
  
  .tw-gap-y-2 {
    row-gap: 0.8rem !important;
  }
  
  .tw-gap-y-2\.5 {
    row-gap: 1rem !important;
  }
  
  .tw-gap-y-3 {
    row-gap: 1.2rem !important;
  }
  
  .tw-self-start {
    align-self: flex-start !important;
  }
  
  .tw-self-center {
    align-self: center !important;
  }
  
  .tw-justify-self-center {
    justify-self: center !important;
  }
  
  .tw-overflow-hidden {
    overflow: hidden !important;
  }
  
  .tw-whitespace-nowrap {
    white-space: nowrap !important;
  }
  
  .tw-text-nowrap {
    text-wrap: nowrap !important;
  }
  
  .tw-text-pretty {
    text-wrap: pretty !important;
  }
  
  .tw-rounded-xl {
    border-radius: 0.5rem !important;
  }
  
  .tw-rounded-2xl {
    border-radius: 1rem !important;
  }
  
  .tw-rounded-full {
    border-radius: 9999px !important;
  }
  
  .tw-rounded-none {
    border-radius: 0 !important;
  }
  
  .tw-rounded-l-2xl {
    border-top-left-radius: 1rem !important;
    border-bottom-left-radius: 1rem !important;
  }
  
  .tw-rounded-r-2xl {
    border-top-right-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
  }
  .tw-black{
    background-color: #000;
  }
  .tw-border-blackr {
    border: 1px solid black;
    border-radius: 15px;
  }
  
  .tw-border {
    border-width: 1px !important;
  }
  
  .tw-border-0 {
    border-width: 0 !important;
  }
  
  .tw-border-2 {
    border-width: 2px !important;
  }
  
  .tw-border-\[0\.5px\] {
    border-width: 0.5px !important;
  }
  
  .tw-border-\[3px\] {
    border-width: 3px !important;
  }
  
  .tw-border-x-0 {
    border-left-width: 0 !important;
    border-right-width: 0 !important;
  }
  
  .tw-border-y-0 {
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
  }
  
  .tw-border-b {
    border-bottom-width: 1px !important;
  }
  
  .tw-border-b-0 {
    border-bottom-width: 0 !important;
  }
  
  .tw-border-b-2 {
    border-bottom-width: 2px !important;
  }
  
  .tw-border-l-0 {
    border-left-width: 0 !important;
  }
  
  .tw-border-l-2 {
    border-left-width: 2px !important;
  }
  
  .tw-border-l-\[5px\] {
    border-left-width: 5px !important;
  }
  
  .tw-border-r-0 {
    border-right-width: 0 !important;
  }
  
  .tw-border-r-2 {
    border-right-width: 2px !important;
  }
  
  .tw-border-t {
    border-top-width: 1px !important;
  }
  
  .tw-border-t-0 {
    border-top-width: 0 !important;
  }
  
  .tw-border-solid {
    border-style: solid !important;
  }
  
  .tw-border-none {
    border-style: none !important;
  }
  
  @media (min-width: 768px) {
    /* Note the escaped colon in the class name */
    .md\:grid-col-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  